In [6]:
import mysql.connector
import sqlite3
import pandas as pd
import os
ruta=os.getcwd()

In [7]:
# Establecer la conexión a la base de datos
conexion = mysql.connector.connect(
    host="127.0.0.1",
    user="root",
    password="AP_@l3j0_2004",
    database="bibliotecatm"
)

# Crear un objeto cursor para interactuar con la base de datos
cursor = conexion.cursor()

# Ejecutar una consulta SELECT
cursor.execute("SELECT * FROM Libro")
resultados = cursor.fetchall()
for fila in resultados:
    print(fila)

# Ejecutar una consulta INSERT
#cursor.execute("INSERT INTO tu_tabla (columna1, columna2) VALUES (%s, %s)", ("valor1", "valor2"))
conexion.commit()

# Cerrar el cursor y la conexión
cursor.close()
conexion.close()

(1, 'El señor de los anillos', 'J.R.R. Tolkien', 'Fantasía', 29.99)
(2, 'Cien años de soledad', 'Gabriel García Márquez', 'Realismo mágico', 24.99)
(3, '1984', 'George Orwell', 'Distopía', 19.99)
(4, 'Orgullo y prejuicio', 'Jane Austen', 'Romance', 17.99)
(5, 'Harry Potter y la piedra filosofal', 'J.K. Rowling', 'Fantasía', 22.99)
(6, 'Crónica de una muerte anunciada', 'Gabriel García Márquez', 'Realismo mágico', 18.99)
(7, 'Don Quijote de la Mancha', 'Miguel de Cervantes', 'Novela de caballería', 26.99)
(8, 'Matar a un ruiseñor', 'Harper Lee', 'Drama', 21.99)
(9, 'La odisea', 'Homero', 'Épico', 28.99)
(10, 'Drácula', 'Bram Stoker', 'Terror', 25.99)

In [13]:
conn=sqlite3.connect(ruta+"/Base1.db")
cursor=conn.cursor()
cursor.execute("""CREATE TABLE IF NOT EXISTS Libros(
ID INT PRIMARY KEY NOT NULL,
Nombre TEXT NOT NULL,
Autor TEXT NOT NULL,
Genero TEXT NOT NULL,
Precio FLOAT NOT NULL
);""")
cursor.executemany("INSERT OR IGNORE INTO Libros (ID, Nombre, Autor, Genero, Precio) values (?,?,?,?,?)", resultados)
conn.commit()
result=pd.read_sql_query("SELECT * FROM Libros", conn)
conn.close()
result

   ID                              Nombre                   Autor                Genero  Precio
0   1             El señor de los anillos          J.R.R. Tolkien              Fantasía   29.99
1   2                Cien años de soledad  Gabriel García Márquez       Realismo mágico   24.99
2   3                                1984           George Orwell              Distopía   19.99
3   4                 Orgullo y prejuicio             Jane Austen               Romance   17.99
4   5  Harry Potter y la piedra filosofal            J.K. Rowling              Fantasía   22.99
5   6     Crónica de una muerte anunciada  Gabriel García Márquez       Realismo mágico   18.99
6   7            Don Quijote de la Mancha     Miguel de Cervantes  Novela de caballería   26.99
7   8                 Matar a un ruiseñor              Harper Lee                 Drama   21.99
8   9                           La odisea                  Homero                 Épico   28.99
9  10                             Drácula             Bram Stoker                Terror   25.99