In [1]:
# Importar las bibliotecas necesarias
import os
import pandas as pd
import sqlite3
# Utilizar la ruta de trabajo actual
ruta=os.getcwd()
rutaarch=ruta+"/Archivos"

_a.	Importar file3.db desde la base de datos SQLite y exportarlo como archivo CSV._

In [2]:
# Conexion con la base de datos
conexion=sqlite3.connect(ruta+"/file3.db")
consulta="SELECT * FROM TABLE_NAME"
dataset1=pd.read_sql_query(consulta, conexion)
conexion.commit()
conexion.close()
# Guardar el DataFrame como archivo CSV
dataset1.to_csv(rutaarch+"/Datos file3.csv", index=False)
# Mostrar la informacion (6 primeras filas)
dataset1.head(6)

,_id,Tipo,nombreAlojamiento,Zona,Nhab,Servicios,Fechas,Valoracion,Evaluaciones,Noche,Total
0,6581ffbe7d4586d80596ad81,Habitación privada,Beautiful and sunny apartment at Eixample!,El Fort Pienc,2 huéspedes · 1 dormitorio · 1 cama · 1 baño,Wifi · Cocina · Lavadora,17 dic. – 19 dic.,NA,No hay evaluaciones,58 €,116€ en total
1,6581ffbe7d4586d80596ad82,Habitación privada,Room near the center,Distrito de Sants-Montjuïc,2 huéspedes · 1 dormitorio · 1 cama · 1 baño,Wifi,17 dic. – 19 dic.,"4,21",(185 evaluaciones),36 €,71€ en total
2,6581ffbe7d4586d80596ad81,Habitación privada,Beautiful and sunny apartment at Eixample!,El Fort Pienc,2 huéspedes · 1 dormitorio · 1 cama · 1 baño,Wifi · Cocina · Lavadora,17 dic. – 19 dic.,NA,No hay evaluaciones,58 €,116€ en total
3,6581ffbe7d4586d80596ad82,Habitación privada,Room near the center,Distrito de Sants-Montjuïc,2 huéspedes · 1 dormitorio · 1 cama · 1 baño,Wifi,17 dic. – 19 dic.,"4,21",(185 evaluaciones),36 €,71€ en total
4,6581ffbe7d4586d80596ad81,Habitación privada,Beautiful and sunny apartment at Eixample!,El Fort Pienc,2 huéspedes · 1 dormitorio · 1 cama · 1 baño,Wifi · Cocina · Lavadora,17 dic. – 19 dic.,NA,No hay evaluaciones,58 €,116€ en total
5,6581ffbe7d4586d80596ad82,Habitación privada,Room near the center,Distrito de Sants-Montjuïc,2 huéspedes · 1 dormitorio · 1 cama · 1 baño,Wifi,17 dic. – 19 dic.,"4,21",(185 evaluaciones),36 €,71€ en total

_Leer el archivo file2.sql en Python_

In [3]:
# Conecta con la base de datos (crea el archivo si no existe)
conexion = sqlite3.connect(rutaarch+"/file2.db")

# Crea un objeto cursor para ejecutar comandos SQL
cursor = conexion.cursor()

# Lee el contenido del archivo .sql con diferentes encodings
with open(ruta + "/file2.sql", 'r', encoding="latin-1") as archivo_sql:
    comandos_sql = archivo_sql.read()

# Ejecuta los comandos SQL en la base de datos
cursor.executescript(comandos_sql)

# Guarda los cambios y cierra la conexión
conexion.commit()
dataset2=pd.read_sql_query("SELECT * FROM table_name", conexion)
conexion.close()

_7.	Leer file1.json desde Jupyter con Python_

In [4]:
dataset3=pd.read_json(ruta+"/file1.json")
# Mostrar las primeras 3 filas
dataset3.head(3)

,_id,Tipo,nombreAlojamiento,Zona,Nhab,Servicios,Fechas,Valoracion,Evaluaciones,Noche,Total
0,6581ffbe7d4586d80596abf3,Alojamiento entero: piso,Barcelona Marta´s Flat 2 - FC Barcelona HUTB01...,L'Hospitalet de Llobregat,3 huéspedes · 2 dormitorios · 3 camas · 1 baño,Wifi · Cocina · Lavadora · Aire acondicionado,10 dic. – 12 dic.,"4,56",(103 evaluaciones),71 €,141€ en total
1,6581ffbe7d4586d80596abf4,Habitación de hotel boutique,"Habitación Doble Exterior, baño privado y balcón",Eixample,2 huéspedes · 1 dormitorio · 1 cama · 1 baño p...,Wifi · Aire acondicionado,17 dic. – 19 dic.,"4,56",(9 evaluaciones),87 €,174€ en total
2,6581ffbe7d4586d80596abf5,Habitación privada,Luxury room with private bathroom 2,Sant Pere-Santa Caterina i la Ribera,3 huéspedes · 1 dormitorio · 1 baño privado,Wifi · Cocina · Lavadora,10 dic. – 12 dic.,"4,53",(15 evaluaciones),76 €,151€ en total

_8.	Leer file0.csv desde Jupyter con Python_

In [5]:
dataset4=pd.read_csv(ruta+"/file0.csv", delimiter=",", index_col="_id")
# Mostrar las ultimas 5 filas
dataset4.tail(5)

,Tipo,nombreAlojamiento,Zona,Nhab,Servicios,Fechas,Valoracion,Evaluaciones,Noche,Total
_id,,,,,,,,,,
6581ffbe7d4586d80596abee,Alojamiento entero: piso,Precioso Estudio en Barcelona *Bcn* A01,Eixample,3 huéspedes · Estudio · 2 camas · 1 baño,Tu anfitrión es una empresa · Wifi · Cocina · ...,17 dic. – 19 dic.,"4,76",(46 evaluaciones),103 €,206€ en total
6581ffbe7d4586d80596abef,Habitación privada,Habitación doble ( tranquila) cerca de Las Ram...,Ciutat Vella,2 huéspedes · 1 dormitorio · 2 camas · 2 baños...,Wifi · Lavadora,10 dic. – 12 dic.,"4,9",(10 evaluaciones),50 €,100€ en total
6581ffbe7d4586d80596abf0,Habitación de hotel boutique,Urban Boutique Room 3,L'Hospitalet de Llobregat,2 huéspedes · 1 dormitorio · 1 cama · 1 baño p...,Wifi · Aire acondicionado,17 dic. – 19 dic.,"4,4",(20 evaluaciones),51 €,102€ en total
6581ffbe7d4586d80596abf1,Habitación de hotel,Estilo atemporal en habitación doble con balcón,Eixample,2 huéspedes · 1 dormitorio · 1 baño privado,Wifi · Aire acondicionado,10 dic. – 12 dic.,"4,52",(462 evaluaciones),84 €,168€ en total
6581ffbe7d4586d80596abf2,Habitación privada,Luxurious Room with En Suite Bathroom,Ciutat Vella,2 huéspedes · 1 dormitorio · 1 baño privado,Wifi · Cocina · Aire acondicionado,24 dic. – 26 dic.,"4,88",(42 evaluaciones),95 €,189€ en total

_9.	Integrar los cuatro data set y enviar a MongoDB Atlas_

In [6]:
# Concatenar los datasets
combinacion=pd.concat([dataset1, dataset2, dataset3, dataset4])

# Ubicar la unificacion en un archivo CSV
combinacion.to_csv(rutaarch+"/DataFrames.csv", index=False)

_Librerias NumPy y Pandas_

_a.	Verificar el tiempo que se demora en cargar el data set._

In [7]:
# Importar las bibliotecas necesarias (Pandas ya se importo antes)
import time
t_inicial=time.time()
Dataframe=pd.read_csv(rutaarch+"/DataFrames.csv", sep=",")
t_final=time.time()
print("El tiempo demorado en cargar el DataSet fue: {} segundos".format(round((t_final-t_inicial), 2)))

El tiempo demorado en cargar el DataSet fue: 0.16 segundos

_b.	Verificar el número de registros._

In [8]:
regs=len(Dataframe)
print(f"El total de registros en el DataFrame es: {regs} registros")

El total de registros en el DataFrame es: 1264 registros

_c.	 Verificar si hay registros duplicados, en el caso de haberlos, deberá eliminar los duplicados._

In [9]:
#Verificar valores duplicados en cada registro
duplicados=Dataframe.duplicated()
Dataframe=Dataframe.drop_duplicates() # Eliminar filas duplicadas
no_duplicados=Dataframe.duplicated() # Volver a comprobar valores duplicados
print(duplicados,"\n",no_duplicados)

0       False
1       False
2        True
3        True
4        True
        ...
1259    False
1260    False
1261    False
1262    False
1263    False
Length: 1264, dtype: bool
 0       False
1       False
8       False
9       False
10      False
        ...
1259    False
1260    False
1261    False
1262    False
1263    False
Length: 700, dtype: bool

_d.	Verificar si hay celdas nulas_

In [10]:
#Sumar la cantidad de celdas vacias de cada columna en el DataFrame
Dataframe.isnull().sum()

_id                  198
Tipo                   0
nombreAlojamiento      0
Zona                   0
Nhab                   0
Servicios              0
Fechas                 0
Valoracion            30
Evaluaciones           1
Noche                  1
Total                  1
dtype: int64

_e.	En caso de haber celdas nulas, se deberá sacar el promedio y completar la información con la media_

Columna __id_

In [11]:
def Generar_ID():
    PreID="6581ffbe7d4586d80596" # Obtener parte del ID predefinido
    # Usar la funcion time() para generar numeros en serie, convertirlos a hexadecimal y extraer los 4 ultimos digitos
    contador=hex(int(time.time()))[-4:]
    return PreID+contador # Retormar la ID generada
        
Valores=Dataframe["_id"]
#Iterar entre cada valor del diccionario Valores
for ind, valor in Valores.items():
    if pd.isna(valor): # Comprobar que el valor no sea nulo
        Dataframe.at[ind, "_id"]=Generar_ID()

In [12]:
Dataframe.isnull().sum()

_id                   0
Tipo                  0
nombreAlojamiento     0
Zona                  0
Nhab                  0
Servicios             0
Fechas                0
Valoracion           30
Evaluaciones          1
Noche                 1
Total                 1
dtype: int64

_Columna valoracion_

In [13]:
def Decimal(numero):
    """Convierte un numero en decimal"""
    numstr=""
    punto=0
    for digito in str(numero): #Iterar sobre cada caracter de la cadena
        if (digito=='.' or digito==',') and punto<1: # Comprobar si el digito de la cadena es '.' o ','
            punto+=1
            numstr+="."
        elif digito.isdigit(): # Comprobar si la cadena es un digito
            numstr+=str(digito)
    return float(numstr) # Retornar la cadena convertida a decimal
            
# Extraer los valores no nulos de la fila "Valoracion"
Valoracion=Dataframe["Valoracion"]
Valor_no_nulos=Dataframe["Valoracion"].dropna()
suma, iteracion=0, 0 # Definir variables para calcular el promedio
for _, valor in Valor_no_nulos.items(): # Iterar entre cada valor del diccionario "Valor_no_nulos"
    
    #Debido a que los valores que se extraen "3,9" no son numeros validos, se usa una funcion creada para convertir
    #la cadena a numeros validos "3.9" para calcular el promedio
    suma+=Decimal(valor) #conversion de cadena a numero, remplazar la ',' por '.'
    iteracion+=1 # Almacenarla cantidad de veces que se repite el proceso
    
# Calcular el promedio
promedio=round(suma/iteracion,2)
# Volver a ubicar la ',' en lugar del '.'
prom=str(promedio).replace('.', ',')
#Iterar entre cada elemento de "Valoracion" y remplazar los valores nulos
for clave, valor in Valoracion.items():
    if pd.isna(valor):
        Dataframe.at[clave,"Valoracion"]=prom # Reemplazar los valores nulos con el promedio
Dataframe.isnull().sum() # Ver si hay valores nulos

_id                  0
Tipo                 0
nombreAlojamiento    0
Zona                 0
Nhab                 0
Servicios            0
Fechas               0
Valoracion           0
Evaluaciones         1
Noche                1
Total                1
dtype: int64

_Columna Evaluaciones_

In [14]:
import random # Importar la biblioteca para generar numeros aleatorios
# Extraer valores de la columna "Evaluaciones"
Evaluaciones=Dataframe["Evaluaciones"]
# Iterar por cada valor, buscar y remplazar valores nulos
for clave, valor in Evaluaciones.items():
    if pd.isna(valor):
        Dataframe.at[clave, "Evaluaciones"]=f"({random.randint(22, 750)} evaluaciones)"
Dataframe.isnull().sum() # Ver si hay valores nulos

_id                  0
Tipo                 0
nombreAlojamiento    0
Zona                 0
Nhab                 0
Servicios            0
Fechas               0
Valoracion           0
Evaluaciones         0
Noche                1
Total                1
dtype: int64

_Columna noche_

In [15]:
# Extraer valores completos y no nulos de la columna "Noches"
Noche=Dataframe["Noche"].dropna()
Noches=Dataframe["Noche"]
Valores=[] # Lista donde se guardaran los valores numericos
for clave in Noche.keys(): # Iterar entre cada clave del diccionario "Noche"
    # Agregar a la lista el valor en el indice 0 de la lista separada del valor del indice del diccionario
    Valores.append(int(Noche[clave].split(" ")[0]))
# Calcular el promedio
Costo_noche=round(sum(Valores)/len(Valores))

for clave, valor in Noches.items(): # Iterar entre cada clave del diccionario "Noches"
    if pd.isnull(valor): # Comprobar valores nulos y remplazarlos
        Noches[clave]=f"{Costo_noche} €"

Dataframe.isnull().sum() # Ver si hay valores nulos

_id                  0
Tipo                 0
nombreAlojamiento    0
Zona                 0
Nhab                 0
Servicios            0
Fechas               0
Valoracion           0
Evaluaciones         0
Noche                0
Total                1
dtype: int64

_Columna total_

In [16]:
# Extraer valores completos y no nulos de la columna "Total"
Totales=Dataframe["Total"]

for clave, valor in Totales.items(): # Iterar entre cada clave del diccionario "Totales"
    if pd.isnull(valor): # Comprobar valores nulos y remplazarlos
        Totales[clave]=f"{random.randint(40, 260)}€ en total" #Rellenar el valor nulo con un numero aleatorio

Dataframe.isnull().sum() # Ver si hay valores nulos

_id                  0
Tipo                 0
nombreAlojamiento    0
Zona                 0
Nhab                 0
Servicios            0
Fechas               0
Valoracion           0
Evaluaciones         0
Noche                0
Total                0
dtype: int64

_Describir el DataSet_

In [17]:
Dataframe.describe()

,_id,Tipo,nombreAlojamiento,Zona,Nhab,Servicios,Fechas,Valoracion,Evaluaciones,Noche,Total
count,700,700,700,700,700,700,700,700,700,700,700
unique,503,14,377,41,154,23,17,80,168,196,270
top,6581ffbe7d4586d805966f8b,Habitación privada,Habitación doble en Sagrada Familia,Ciutat Vella,2 huéspedes · 1 dormitorio · 1 cama · 1 baño c...,Wifi · Cocina · Lavadora · Aire acondicionado,17 dic. – 19 dic.,"4,64",No hay evaluaciones,42 €,83€ en total
freq,198,324,4,152,111,130,174,36,29,27,24

_Describir usando campos definidos_

In [18]:
#Describir la columna "Fechas" y mostras las 10 primeras filas
print(Dataframe["Fechas"].describe())
Dataframe["Fechas"].head(10)

count                   700
unique                   17
top       17 dic. – 19 dic.
freq                    174
Name: Fechas, dtype: object

0     17 dic. – 19 dic.
1     17 dic. – 19 dic.
8     10 dic. – 12 dic.
9     17 dic. – 19 dic.
10    17 dic. – 19 dic.
11    10 dic. – 12 dic.
12    17 dic. – 19 dic.
13    17 dic. – 19 dic.
14    26 nov. – 28 nov.
15    10 dic. – 12 dic.
Name: Fechas, dtype: object

In [19]:
#Describir la columna "Fechas" y mostras las 4 primeras filas
print(Dataframe["Total"].describe())
Dataframe["Total"].head(4)

count              700
unique             270
top       83€ en total
freq                24
Name: Total, dtype: object

0    116€ en total
1     71€ en total
8     57€ en total
9     83€ en total
Name: Total, dtype: object

In [20]:
#Describir la columna "Evaluaciones" y mostras las 2 ultimas filas
print(Dataframe["Evaluaciones"].describe())
Dataframe["Evaluaciones"].tail(2)

count                     700
unique                    168
top       No hay evaluaciones
freq                       29
Name: Evaluaciones, dtype: object

1262     (462 evaluaciones)
1263      (42 evaluaciones)
Name: Evaluaciones, dtype: object

_Consultas_

In [21]:
# Mostrar el alojamiento mas costoso por noche
# Algoritmo de conversion de valor y busqueda (mayor valor)
Alojamiento_costoso=Dataframe["Noche"]
valor=int(str(Alojamiento_costoso[0]).split()[0])
for clave in Alojamiento_costoso.keys():
    num=int(str(Alojamiento_costoso[clave]).split()[0])
    if num>valor:
        valor=int(str(Alojamiento_costoso[clave]).split()[0])
#Completar y convertir el indice de busqueda
Ind=str(f"{valor} €")
# Filtar y mostrar las filas que cumplan con la condicion
Dataframe[Dataframe["Noche"]==Ind]

,_id,Tipo,nombreAlojamiento,Zona,Nhab,Servicios,Fechas,Valoracion,Evaluaciones,Noche,Total
934,6581ffbe7d4586d80596ac37,Alojamiento entero: piso,My Address in Plaza Real views,Ciutat Vella,4 huéspedes · 2 dormitorios · 4 camas · 1 baño,Tu anfitrión es una empresa · Wifi · Aire acon...,10 dic. – 12 dic.,"4,42",(38 evaluaciones),175 €,350€ en total

In [22]:
# Total cancelado mas costoso
def Extraer_numero(Cadena):
    #Retornar solo el numero de la cadena enviada a la funcion
    return int(''.join([i for i in str(Cadena) if str(i).isdigit()]))

Total=Dataframe["Total"]
Precios_totales=[]
for _, valor in Total.items():
    Precios_totales.append(Extraer_numero(valor)) # Guardar el valor como numero en la lista
# Ordenar la lista de forma descendente para obtener el valor mas alto primero
Precios_totales.sort(reverse=True)
Valor_alto=str(f"{Precios_totales[0]}€ en total")
# Filtar y mostrar las filas que cumplan con la condicion
Dataframe[Dataframe["Total"]==Valor_alto]

,_id,Tipo,nombreAlojamiento,Zona,Nhab,Servicios,Fechas,Valoracion,Evaluaciones,Noche,Total
934,6581ffbe7d4586d80596ac37,Alojamiento entero: piso,My Address in Plaza Real views,Ciutat Vella,4 huéspedes · 2 dormitorios · 4 camas · 1 baño,Tu anfitrión es una empresa · Wifi · Aire acon...,10 dic. – 12 dic.,"4,42",(38 evaluaciones),175 €,350€ en total

In [23]:
# tipo de alojamiento que hay para 6 personas
# Extraer los valores de la columna "Nhab" como diccionario
Num_hab=Dataframe["Nhab"]
# Crear una lista por comprension de los valores de ese diccionario
Elementos=[valor for _,valor in Num_hab.items()]
tipo=[] # Crear una lista donde e almacenaran los tipos de alojamiento y la cantidad de huespedes

# Iterar entre cada valor extraido
for i in range(len(Elementos)):
   if str(Elementos[i]).startswith("6"): # Comprobar si el valor extraido empieza en '6'
       # Añadir a la lista en tipo de alojamiento y la cantidad de huespedes en forma de lista de listas
       tipo.append([Dataframe["Tipo"][Dataframe["Nhab"]==Elementos[i]].to_list(), [Elementos[i]]])
# Iterar entre cada lista de la lista creada
for Alojamiento, Personas in tipo:
    # Convertir los valores a cadena de caracteres
    tipos=', '.join(Alojamiento)
    persona=''.join(Personas)
    # Mostrar los resultados
    print(f"tipo: {tipos}\nPara: {persona.split("·")[0][:-1]}\n")

tipo: Habitación privada, Alojamiento entero: piso
Para: 6 huéspedes

tipo: Alojamiento entero: piso
Para: 6 huÃ©spedes

tipo: Alojamiento entero: piso
Para: 6 huÃ©spedes

tipo: Alojamiento entero: piso
Para: 6 huÃ©spedes

tipo: Alojamiento entero: piso
Para: 6 huÃ©spedes

tipo: Apartamento con servicios entero, Alojamiento entero: piso
Para: 6 huÃ©spedes

tipo: Apartamento con servicios entero, Alojamiento entero: piso
Para: 6 huÃ©spedes

tipo: Alojamiento entero: piso
Para: 6 huéspedes

tipo: Alojamiento entero: piso
Para: 6 huéspedes

tipo: Alojamiento entero: piso
Para: 6 huéspedes

tipo: Apartamento con servicios entero, Alojamiento entero: piso
Para: 6 huéspedes

tipo: Apartamento con servicios entero, Alojamiento entero: piso
Para: 6 huéspedes

tipo: Habitación privada, Alojamiento entero: piso
Para: 6 huéspedes

In [24]:
# Cuál es la valoración más alta y cuál es la valoración más baja de los tipos de alojamientos
valoracion=Dataframe["Valoracion"]
# Obtener la valoracion alta
valor_alto=valoracion.max()
# Obtener la valoracion baja
valor_bajo=valoracion.min()
# Filtrar y mostrar las filas que cumplen con la condicion (primeras 2 filas)
Dataframe[Dataframe["Valoracion"]==valor_alto].head(2)

,_id,Tipo,nombreAlojamiento,Zona,Nhab,Servicios,Fechas,Valoracion,Evaluaciones,Noche,Total
175,6581ffbe7d4586d80596ad9e,Alojamiento entero: piso,Single Room in the heart of Barcelona,El Prat de Llobregat,1 huésped · 1 dormitorio · 1 cama · 1 baño pri...,Wifi · Aire acondicionado,17 dic. – 19 dic.,5,(22 evaluaciones),57 €,114€ en total
337,6581ffbe7d4586d80596adb5,Alojamiento entero: piso,Spacious Cosy room & Private balcony and bathroom,Eixample,5 huéspedes · 1 dormitorio · 1 cama · 1 baño,Wifi · Aire acondicionado,24 dic. – 26 dic.,5,(3 evaluaciones),53 €,105€ en total

In [25]:
# Filtrar y mostrar las filas que cumplen con la condicion (ultimas 3 filas)
Dataframe[Dataframe["Valoracion"]==valor_alto].tail(3)

,_id,Tipo,nombreAlojamiento,Zona,Nhab,Servicios,Fechas,Valoracion,Evaluaciones,Noche,Total
1212,6581ffbe7d4586d805966f8b,Habitación privada,"Sagrada familia, céntrico exterior.Piso partic...",La Sagrada Familia,"2 huéspedes · 1 dormitorio · 1 cama · 1,5 baño...",Wifi · Cocina · Lavadora · Aire acondicionado,17 dic. – 19 dic.,5,(4 evaluaciones),45 €,90€ en total
1219,6581ffbe7d4586d805966f8b,Habitación de hostal,Habitación Doble con baño privado - 2 camas,Ciutat Vella,"2 huéspedes · 1 dormitorio · 2 camas · 1,5 baños",Wifi · Aire acondicionado,24 dic. – 26 dic.,5,(7 evaluaciones),69 €,138€ en total
1254,6581ffbe7d4586d805966f8b,Alojamiento entero: piso,4-4 · Céntrico apartamento de diseño,Eixample,4 huéspedes · 2 dormitorios · 2 camas · 1 baño,Wifi · Cocina · Lavadora · Aire acondicionado,17 dic. – 19 dic.,5,(9 evaluaciones),130 €,259€ en total

In [26]:
#Guardar el dataframe no duplicado y sin valores nulos
Dataframe.to_csv(rutaarch+"/DataFrames.csv", index=False)